<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <header><%- include("../partials/header") %></header>
    <h1>User Dashboard</h1>
    <p><%= message %></p>
    <p>Welcome, <%= user.username %></p>
    <footer><%- include("../partials/footer") %></footer>
  </body>
</html>
